#titulo {
  max-width: 95%;
  width: 100%;
  background-color: hsl(0, 0%, 10%);
  padding: 2vw 2vh;
  border-radius: 16px;
  margin: 2vw auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#titulo h1 {
  color: #ffffff;
  font-size: 20px;
}

#creacion-cheques, #ck1{
  display: flex;
  justify-content: space-between;
}

#contenido-objeto-gastos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  width: 40%; /* Puedes ajustar el valor según tus necesidades */
}

#cheques,
#objetos-gastos {
    background-color: #fff;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    margin-right: 10px;
}

#cheques h2,
#objetos-gastos h2 {
    color: #333;
    font-size: 20px;
    margin: 0;
}

.contenedor-cheques {
  display: flex;
  flex-direction: row; /* Alinea los elementos en una fila */
  justify-content: space-around; /* Distribuye el espacio disponible alrededor de los elementos */
  align-items: top; /* Centra verticalmente los elementos */
}

#ck1 h4,
#og-1 h4,
#og-2 h4,
#ck2 h4,
#ck3 h4 {
  color: #cab600;
  text-align: left;
  margin-right: 10px;
  display: block; /* Convertir el h4 en un bloque */
}

#ck1 input[type="text"],
#ck1 input[type="date"],
#og-1 input[type="text"],
#og-2 input[type="text"],
#ck2 input[type="text"],
#ck3 input[type="text"] {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para el select */
#ck2 select[type="text"]
 {
  width: 320px; /* Ancho del select, ajusta según tus necesidades */
  padding: 5px; /* Espaciado interno del select */
  font-size: 15px; 
  border-radius: 10px;
}

#og-1 select[type="text"]{
  width: 400px; /* Ancho del select, ajusta según tus necesidades */
  padding: 5px; /* Espaciado interno del select */
  font-size: 15px; 
  border-radius: 10px;
}

/* Estilo para las opciones del select */
option {
  font-size: 16px; /* Tamaño de la fuente de las opciones */
}


/* Estilo para el input dentro de #ck1 */
#ck1 input[type="text"] {
  width: 150px; /* Cambiar el tamaño del input en #ck1 */
}

 /* Estilo para el input de "La suma de" */
 #ck2 input[type="text"]:nth-of-type(2) {
  width: 500px; /* Ancho más pequeño */
}

/* Estilo para el input de "suma-de" */
#suma {
  width: 150px; /* Ancho más grande */
  font-size: 18px; /* Tamaño de fuente más grande */
}

/* Estilo para el input dentro de #ck3 */
#ck3 input[type="text"] {
  width: 100%; /* Cambiar el tamaño del input en #ck3 */
  box-sizing: border-box;
}

.contenedor-botones {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Agrega espacio arriba de los botones */
}

.boton {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #0aa5ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.boton:hover {
  background-color: #007acc; /* Cambia el color de fondo al pasar el cursor */
}

/* Estilos para alerta */
.alerta {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #f00;
  border-radius: 5px;
  background-color: #ffecec;
  color: #f00;
  font-weight: bold;
}