#Cuerpo {
    max-width: 95%;
    width: 100%;
    background-color: hsl(0, 0%, 10%);
    padding: 2vw 2vh;
    border-radius: 16px;
    margin: 2vw auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #Global{
    background-color: #fff;
    padding: 8px;
    border-radius: 5px;
    text-align: left;
    flex-grow: 1;
    margin-right: 10px;
  }

#Global label{
  color: #333;
  font-size: 25px;
  margin: 0;
}

#Global button {
  padding: 5px 20px;
  line-height: 18px;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  background-color: #0aa5ff;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

