#contenido {
  max-width: 95%;
  width: 100%;
  background-color: hsl(0, 0%, 10%);
  border-radius: 16px;
  margin: 2vw auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#conciliacion{
    background-color: #fff;
    padding: 8px;
    border-radius: 10px;
    text-align: left;
    flex-grow: 1;
    margin-right: 10px;
}

#centro {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
}

#conciliacion h2{
    color: #333;
    font-size: 25px;
    margin: 0;
}

#mes-año {
  display: flex;
  color: #cab600;
}

#mes {
  margin-right: 20px; /* Espacio entre "mes" y "año" */
}

#mes-año select[type="text"],
.div-3x6 input[type="text"] {
  margin-right: 10px;
  margin-top: 12px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 40px; /* Ajusta la altura según lo necesites */
  width: 300px; /* Ajusta el ancho según lo necesites */
}

.input-derecha {
  text-align: right;
}

/* Para Botón */
.primer-boton{
  margin-top: 80px; /* Agrega espacio arriba del botón */
}

.contenedor-botones {
  display: flex;
  justify-content: center;
}

.botones {
  padding: 10px 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #0aa5ff;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}

.botones:hover {
  background-color: #007acc; /* Cambia el color de fondo al pasar el cursor */
}

#libro-1,
#libro-2,
#libro-3,
#libro-4,
#libro-5,
#libro-6,
#libro-7,
#libro-8,
#libro-9,
#banco-1,
#banco-2,
#banco-3,
#banco-4,
#subtotal,
#primer-subtotal,
#saldo-libro-final,
#saldo-banco-final {
  color: #cab600;
  display: flex;
}

#subtotal {
  justify-content: flex-end; /* Alinea el contenido a la derecha */
}

/* Aquí va la clase CSS para el div */
.div-3x6 {
display: grid;
grid-template-rows: repeat(6, 1fr);
grid-template-columns: repeat(3, 1fr);
gap: 10px; /* Espacio entre las celdas */
}

/* Línea divisora */
.div-con-linea {
  border-bottom: 1px solid #ccc; /* Línea divisora de 1px de grosor y color gris claro */
  margin-bottom: 25px; /* Espacio entre el div y la línea divisora */
  padding-bottom: 30px;
}

#banco-2,
#banco-3,
#banco-4 {
  padding-left: 100px; /* Ajusta el valor según la cantidad de sangría que desees */
}

#libro-2,
#libro-6 {
  padding-left: 50px; /* Ajusta el valor según la cantidad de sangría que desees */
}

#libro-3,
#libro-4,
#libro-5,
#libro-7,
#libro-8 {
  padding-left: 100px; /* Ajusta el valor según la cantidad de sangría que desees */
}